/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Body classes */
body {
    background-image: url("/static/images/white-marble-bg.jpeg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: auto;
    color: #210124;
}

hr {
    background-color: #210124;
}

i {
    line-height: 1.4;
}

a {
    color: #009688;
}

a:hover {
    color: #210124;
}

/* Colours */
.ghost-wht {
    background-color: #F5F3F7;
}

.light-gray {
    background-color: #D7D6D6;
}

.grn-txt {
    color: #009688;
}

.grn-bg {
    background-color: #009688;
}

.dp-txt {
    color: #210124;
}
/* Buttons and Links */
.button {
    background-color: #D7D6D6;
    color: #009688;
}

.button:hover {
    background-color: #A1A1A5;
    color: #210124!important;
}


/* Login/Logout & Dark/Light Mode Navbar */

/* Main Navbar */
.bg-light {
    background-color: #F5F3F7!important;
}

.dropdown-menu {
    background-color: #F5F3F7!important;
}

.navbar-light .navbar-toggler {
    color: #009688;
    border-color: #009688;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #009688;
}

.navbar-light .navbar-nav .nav-link {
    color: #009688;
}


