/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Body classes */
body {
    color: #210124;
    background-image: url("/static/images/white-marble-bg.jpeg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: auto;
    
}

hr {
    background-color: #210124;
}

/* Font Classes */


/* Login/Logout Navbar */

/* Main Navbar */
