/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Colour Scheme Preferences  */
:root {
  color-scheme: light dark; /* both supported */
}

/* Light and Dark Mode */
body {
  --hr-color: #210124;
  --text-color: #210124;
  --background-image: url("/static/images/white-marble-bg.jpeg");
  --card-title: #210124;
}
body.dark-mode {
  --hr-color: #fafafa;
  --text-color: #fafafa;
  --background-image: url("/static/images/black-marble-bg.jpeg");
  --card-title: #210124;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --hr-color: #210124;
    --text-color: #fafafa;
    --background-image: url("/static/images/black-marble-bg.jpeg");
  }
  body.light-mode {
    --hr-color: #210124;
    --text-color: #210124;
    --background-image: url("/static/images/white-marble-bg.jpeg");
  }
}

body {
  background: var(--background-image);
  color: var(--text-color);
}

/* Body Classes */ 
hr {
    background-color: var(--hr-color)
}

h4 {
    color: var(--card-title);
}

.dm-f-txt {
    color: #210124
}

i {
    line-height: 1.4;
}

a {
    color: #009688;
}

a:hover {
    color: #210124;
}

/* Colours */
.ghost-wht {
    background-color: #F5F3F7;
}

.ghost-wht-txt {
    color:  #F5F3F7;
}

.light-gray {
    background-color: #D7D6D6;
}

.grn-txt {
    color: #009688;
}

.grn-bg {
    background-color: #009688;
}

.dp-txt {
    color: #210124;
}


/* Buttons and Links */
.button {
    background-color: #D7D6D6;
    color: #009688;
}

.button:hover {
    background-color: #A1A1A5;
    color: #210124!important;
}


/* Login/Logout & Dark/Light Mode Navbar */

/* Main Navbar */
.bg-light {
    background-color: #F5F3F7!important;
}

.dropdown-menu {
    background-color: #F5F3F7!important;
}

.navbar-light .navbar-toggler {
    color: #009688;
    border-color: #009688;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #009688;
}

.navbar-light .navbar-nav .nav-link {
    color: #009688;
}

/* Cocktail Category Buttons */
#tail-cat-btns {
    display: inline;
}

#tail-cat-btns li {
    display: inline-block;
}
