{% extends "base.html" %}
{% block content %}

    <hr>
    <h3 class="mt-3 text-center text-uppercase">Add Cocktail Recipe</h3>
    <hr>

    <div class="container ghost-wht card">
        <h4 class="text-center pt-3">Tell everyone your tail!</h4>
        <form class="container pt-3" method="POST" action="{{ url_for('add_cocktail') }}">
            <div class="row">
                <!-- Input Cocktail Name -->
                <div class="col-12">
                    <label for="recipe_name" class="grn-txt text-uppercase">Cocktail Name:</label>
                    <input type="text" class="form-control"
                    name="recipe_name" id="recipe_name" required>
                </div>
                <div class="col-12 pt-2">
                    <!-- Category Name -->
                    <label for="category_name" class="grn-txt text-uppercase">Category Name:</label><br>
                            <select class="custom-select custom-select-lg mb-3 p-2" aria-label=".form-select-lg"
                             name="category_name" id="category_name" required>
                                <option selected disabled> Select a category</option>
                                {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            <div class="row pt-2">
                <!-- Image URL -->
                <div class="col-12">
                    <label for="img_url" class="grn-txt text-uppercase">Image URL Address:</label>
                    <input type="text" class="form-control" name="img_url" id="img_url" required>
                    <small class="text-uppercase dp-txt">Copy the image URL address here</small>
                </div>
                <div class="col-12">
                    <!-- Prep Time -->
                    <label for="prep_time" class="grn-txt text-uppercase" >Prep Time:</label>
                    <input type="text" class="form-control" maxlength="10"
                    name="prep_time" id="prep_time" required>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <label for="ingredients" class="grn-txt text-uppercase">Ingredients:</label>
                    <textarea type="text" class="form-control" 
                    name="ingredients" id="ingredients" required></textarea>
                    <small class="text-uppercase dp-txt">Please write each ingredient on a new line</small>
                </div>
            </div>
            <div class="row pt-2">
                <!-- Step 1 -->
                <div class="col-12">
                    <label for="method_step_one" class="grn-txt text-uppercase pt-2">Step 1:</label>
                    <textarea type="text" class="form-control"
                    name="method_step_one" id="method_step_one" required></textarea>
                </div>
                <div class="col-12">
                    <!-- Step 2 -->
                    <label for="method_step_two" class="grn-txt text-uppercase pt-2">Step 2:</label>
                    <textarea type="text" class="form-control" 
                    name="method_step_two" id="method_step_two" required></textarea>
                </div>
            </div>
            <div class="row pt-2">
                <!-- Inspiration -->
                <div class="col-sm-12 col-md-6">
                    <label for="inspiration" class="grn-txt text-uppercase">Tips:</label>
                    <input type="text" class="form-control" name="inspiration" id="inspiration"
                    maxlength="60">
                    <small class="text-uppercase dp-txt">Ideas to enhance up the recipe</small>
                </div>
                <div class="col-sm-12 col-md-6">
                    <!-- Eat With -->
                    <label for="eat_with" class="grn-txt text-uppercase">Eat with:</label>
                    <input type="text" class="form-control" 
                    name="eat_with" id="eat_with" maxlength="30">
                    <small class="text-uppercase dp-txt">Suggestions for accompanying meals or snacks</small>
                </div>
            </div>
            <div class="row pt-2">
                <!-- Garnish -->
                <div class="col-sm-12 col-md-6">
                    <label for="garnish" class="grn-txt text-uppercase">To Garnish:</label>
                    <input type="text" class="form-control" name="garnish" id="garnish" maxlength="30">
                    <small class="text-uppercase dp-txt">Best garnishes to use</small>
                </div>
                <div class="col-sm-12 col-md-6">
                    <!-- Recipe Author-->
                    <label for="author" class="grn-txt text-uppercase">Author:</label>
                    <input type="text" class="form-control" maxlength="25"
                    name="author" id="author">
                    <small class="text-uppercase dp-txt">Your name or the name of the recipe author</small>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col text-center mb-3">
                    <button type="submit" class="btn button">Add <i class="fas fa-plus-square"></i></button>
                    <a href="{{ url_for('get_recipes') }}" class="btn button">Cancel <i class="fas fa-window-close">
                    </i></a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}