{% extends "base.html" %}
{% block content %}
<!-- Add a new category -->
<div class="container">
    <div class="ghost-wht container mt-3">
        <div class="container mt-3 p-2">
            <hr>
            <h3 class="mt-3 text-center text-uppercase">Add New Category</h3>
            <hr>
        </div>
        <form class="container pt-3 pb-3" method="POST" action="{{ url_for('add_category') }}">
            <div class="row">
                <div class="input-group mb-3 col-10 offset-1">
                    <input type="text" name="category_name" id="category_name" class="form-control"
                        placeholder="Category Name:">
                    <div class="input-group-append">
                    <button type="submit" value="Submit" class="btn button">Add <i
                            class="fas fa-plus-square"></i></button>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Manage Categories -->

<div class="container mt-3">
    <div class="card ghost-wht">
        <div class="container">
            <hr>
            <h3 class="mt-3 text-center text-uppercase">Manage Categories</h3>
            <hr>
        </div>
        <div class="card-header text-center">
            Current Categories
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                {% for category in categories %}
                <div class="card-header ghost-wht" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center grn-txt" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{ category.category_name }}
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show card" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body p-3">
                        <div class="row text-center">
                            <div class="col-12 text-center">
                                <!-- Button triggers delete confirmation modal -->
                                <button type="button" class="btn button" data-toggle="modal"
                                    data-target="#deleteModal">
                                    Delete <i class="fas fa-trash-alt"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal for delete confirmation  -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title grn-txt" id="deleteModalLabel">Are you sure you wish to delete
                                    this?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Once deleted, this category cannot be restored. By clicking delete you are confirming
                                you understand this!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn button" data-dismiss="modal">
                                    Cancel <i class="fas fa-window-close">
                                    </i>
                                </button>
                                <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn button">
                                    Delete <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}