{% extends "base.html" %}
{% block content %}
<div class="card ghost-wht m-3">
    <div class="container">
        <hr>
        <h3 class="mt-3 text-center text-uppercase">{{ recipe.recipe_name }}</h3>
        <hr>
    </div>
<div class="row">
            <div class="col-sm-12 col-lg-6">
                <!-- Display recipe image from db-->
                <img src="{{ recipe.img_url }}" alt="{{ recipe.recipe_name }}" class="p-3 img-fluid" 
                style="width: 600px; height: 600px;">
        </div>
        <div class="col-sm-12 col-lg-6 mt-3">
            <div class="col-sm-12 col-md-6 mt-3">
                <!-- Recipe Prep Time-->
                <h5 class="grn-txt">Prep Time:</h5> <span>{{ recipe.prep_time }}</span>
            </div>
            <div class="col-sm-12 col-md-6 mt-3">
                <!-- Original Author -->
                <h5 class="grn-txt">Original Author:</h5> <span>{{ recipe.author }}</span>
            </div>
            <div class="col-sm-12 col-md-6 mt-3">
                <!-- User who created the recipe post -->
                <h5 class="grn-txt">Created by:</h5> <span>{{ recipe.created_by }}</span>
            </div>
            <div class="col-sm-12 col-md-6 mt-3">
                <!-- Garnish for cocktail -->
                <h5 class="grn-txt">To Garnish:</h5> <span>{{ recipe.garnish }}</span>
            </div>
            <div class="col-sm-12 col-md-6 mt-3">
                {% if session.user|lower == recipe.created_by %}
                    <div class="row">
                        <!-- Edit the recipe -->
                        <div class="col-sm-12 col-lg-6 text-center">
                            <a href="{{ url_for('edit_cocktail', recipe_id=recipe._id)}}" class="btn button mb-2"
                                id="edit-ct-btn">Edit <i class="fas fa-edit"></i></a>
                            <!-- Delete Cocktail -->
                            <!-- Functionality for users to be added later, only admin may currently delete-->
                            <button class="btn button mb-2 d-none" id="del-ct-btn">Delete <i class="fas fa-dumpster"></i></button>
                            <p class="d-none" id="r-u-sure">Are you sure you wish to delete this recipe?</p>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn button d-none"
                                id="y-del">Yes</a>
                            <a class="btn button d-none" id="n-del" function="dnone()">No</a>
                            {% endif %}
            {% if session.user|lower %}
            <!-- Love Recipe -->
            <form action="{{ url_for('add_love') }}" method="POST" id="love-form">
                <input type="text" class="d-none" value="{{ session.user }}" name="loved_by" id="loved_by">
                <input type="text" class="d-none" value="{{ recipe.recipe_name }}" name="recipe_name" id="recipe_name">
            </form>
            <button type="submit" class="btn button" form="love-form" value="submit" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Show some love">
                <i class="fas fa-heart"></i>
            </button>
            </div>
            </div>
            </div>
            {% endif %}
            <div class="col-12 mt-3">
                <!-- Recipe Summary -->
                <h5 class="grn-txt">Summary:</h5>
                <p>{{ recipe.summary }}</p>
            </div>
            <div class="col-12 mt-3">
                <!-- Recipe Ingredients -->
                <h5 class="grn-txt">Ingredients:</h5>
                <p>{{ recipe.ingredients }}</p>
            </div>
            <div class="col-12 mt-3">
                <!-- Method, Step 1 -->
                <h5 class="grn-txt">Step One:</h5>
                <p>{{ recipe.method_step_one }}</p>
            </div>
            <div class="col-12 mt-3">
                <!-- Method, Step 2 -->
                <h5 class="grn-txt">Step Two:</h5>
                <p>{{ recipe.method_step_two }}</p>
            </div>
            <div class="col-12 mt-3">
                <!-- Food that goes well with cocktail -->
                <h5 class="grn-txt">Drink with:</h5>
                <p>{{ recipe.eat_with }}</p>
            </div>
            <div class="col-12 mt-3">
                <!-- Inspiration/Tips -->
                <h5 class="grn-txt">Inspiration:</h5>
                <p>{{ recipe.inspiration }}</p>
            </div>
            <div class="col-12">
                <h5 class="mt-3 mb-3 grn-txt">Users who loved this</h5>
                {% if loved.recipe_name == loved.loved_by %}
                    {% for love in loved %}
                        <p>{{ love.loved_by|e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}